In [35]:
import pandas as pd

df_train = pd.read_csv('train.csv')
df_train.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,sex,capital-gain,capital-loss,hours-per-week,native-country,exceeds50K
0,30,?,147215,Some-college,10,Never-married,?,Own-child,Female,0,0,30,United-States,0
1,60,Private,173960,Bachelors,13,Divorced,Prof-specialty,Not-in-family,Female,0,0,42,United-States,0
2,52,?,105428,Some-college,10,Married-civ-spouse,?,Husband,Male,0,0,12,United-States,0
3,37,Private,112497,Bachelors,13,Married-civ-spouse,Sales,Husband,Male,0,0,60,United-States,0
4,63,Private,137843,Some-college,10,Married-civ-spouse,Sales,Husband,Male,7298,0,48,United-States,1

In [40]:
workclass_map = {
    'Private': '0',
    'Self-emp-not-inc': '1',
    'Self-emp-inc': '2',
    'Federal-gov': '3',
    'Local-gov': '4',
    'State-gov': '5',
    'Without-pay': '6',
    'Never-worked': '7'
}
df_train['workclass'] = df_train['workclass'].map(workclass_map)

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
        ...
24391    NaN
24392    NaN
24393    NaN
24394    NaN
24395    NaN
24396    NaN
24397    NaN
24398    NaN
24399    NaN
24400    NaN
24401    NaN
24402    NaN
24403    NaN
24404    NaN
24405    NaN
24406    NaN
24407    NaN
24408    NaN
24409    NaN
24410    NaN
24411    NaN
24412    NaN
24413    NaN
24414    NaN
24415    NaN
24416    NaN
24417    NaN
24418    NaN
24419    NaN
24420    NaN
Name: workclass_new, Length: 24421, dtype: object

In [4]:
df_train['native-country'].value_counts()

 United-States                 21883
 Mexico                          482
 ?                               410
 Philippines                     146
 Germany                         108
 Puerto-Rico                      89
 El-Salvador                      88
 Canada                           86
 India                            80
 Cuba                             73
 England                          58
 China                            58
 Italy                            57
 Jamaica                          55
 South                            54
 Japan                            49
 Guatemala                        48
 Poland                           48
 Dominican-Republic               46
 Columbia                         45
 Vietnam                          41
 Portugal                         40
 Iran                             36
 Taiwan                           35
 Haiti                            35
 Greece                           26
 Nicaragua                        26
 Peru                             25
 Ecuador                          24
 France                           20
 Ireland                          19
 Laos                             18
 Thailand                         17
 Cambodia                         16
 Hong                             15
 Yugoslavia                       14
 Trinadad&Tobago                  11
 Scotland                         11
 Honduras                         11
 Outlying-US(Guam-USVI-etc)       10
 Hungary                           8
Name: native-country, dtype: int64

In [5]:
import lightgbm as lgb

label = df_train['exceeds50K']
data = df_train.drop(['exceeds50K'], axis=1)

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data, label, test_size=0.2)

In [91]:
d_train = lgb.Dataset(X_train, label=y_train)
params = {}
params['learning_rate'] = 0.003
params['boosting_type'] = 'gbdt'
params['objective'] = 'binary'
params['metric'] = 'binary_logloss'
params['sub_feature'] = 0.5
params['num_leaves'] = 10
params['min_data'] = 50
params['max_depth'] = 10
clf = lgb.train(params, d_train, 100)

ValueError: DataFrame.dtypes for data must be int, float or bool.
Did not expect the data types in the following fields: workclass, education, marital-status, occupation, relationship, sex, native-country